/* Cart */
.title{
  font-family: 'Italiana';
  font-size: 20px;
}
.drawer{
  background-color: #c4a5f0;
  color: #9e6cad;
}

.btn {
  width: 100%;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.7rem;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 173, 255);
  border-radius: 50px;
  border: none;
}
.btn:hover{
  background: #fd93dd;
  border: none;
  color: aliceblue;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px #676666 solid;
  /* background-color: #c4a5f050; */
}

.image {
  width: 4rem;
  height: 4rem;
  flex: 1 1;
}

.content {
  margin-left: 1rem;
  flex: 8 1;
  /* background-color: blueviolet; */
}

.name{
  /* background-color: antiquewhite; */
  display: block;
  width: 500%;
  font-size: 1.2rem;
  margin-bottom: 15%;
}

.priceCount {
  margin-top: 17%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
  opacity: 0.6;
}
.price {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  /* background-color: aqua; */
}

.delete {
  /* font-size: 1.2rem; */
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
  /* background-color: black; */
  height: 30px;
}
.bin{
 margin-top: 10%;
  width: 25px;
  /* background-color: aqua; */
}
.bin:hover{
  background-color: #c4a5f0;
  border-radius: 5%;
  transition: all 0.1s linear;
}
.wrap {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.totalPrice {
  font-weight: bold;
  text-align: right;
  font-size: 1.3rem;
}
