.userInfoOutlined {
  display: inline-block;
  position: absolute;
  /*background-color: aqua;*/
  /*left: 85%;*/
  /*top: 5%;*/
  font-size: 2rem;
  margin-right: 150px;
  cursor: pointer;
  color: black;
  margin-top: -60px;
}

.icon:hover {
  color: #c4a5f0;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .userInfoOutlined{
    right: 1.5rem;
  }
}