.mainLayout {
   margin: 4% 8%;
}

.image {
   width: 100%;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   object-fit: cover;
   object-position: center;
   border-radius: 2%;
   margin-bottom: 5%;
   padding-bottom: 0;
}

.info {
   padding: 0 1.2rem;
}

.category {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 550;
   font-size: 23px;
   line-height: 42px;
   text-align: left;
   text-transform: uppercase;
   color: #848484;
}

.title {
   font-family: 'Jacques Francois', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 350%;
   line-height: 46px;
   text-align: left;
   margin-top: 10px;
   color: #3f3f3f;
}

.square {
   margin-top: 8%;
   padding: 6%;
   width: 100%;
   background: rgba(255, 255, 255, 0.5);
   border: 2px solid #AF9191;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
}

.intro {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 23px;
   line-height: 25px;
   text-align: left;
   letter-spacing: 0.02em;
   margin: 0px 0 17px 0 ;

   color: #848484;
}

.price {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   margin: 40px 0 0 0 ;
   text-align: left;

   color: #000000;

}

.name {
   color: white;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
}

.description {
   color: white;
   opacity: 0.6;
   font-size: 1rem;
   margin-bottom: 1rem;
}

.wrap {
   display: flex;
   flex-direction: column;
}
.qty{
   position: left;
      opacity: 0.6;
   font-size: 1rem;
   margin-bottom: 1rem;
}
.selectStyle{
   width: 200px;
   margin-top: 30px;
   position: relative;
}