.imageStyle {
    width: 100%;
    display: block;
}
.cover{
   padding: 0px 90px 0px 90px;
}
.contentStyle{
    background-color: rgb(182, 182, 236);
    display: block;
    height: 100%;
    color: aliceblue;
    line-height: 500px;
    text-align: center;
    /* z-index: 10; */
}
.img{
    display: block;
    height: 100%;
    max-width: 100%
}

.Carousel{
background-color: black;

}