.imageStyle {
    width: 100%;
    display: block;
}
.contentStyle{
    background-color: rgb(182, 182, 236);
    height: 50vh;
    color: aliceblue;
    line-height: 500px;
    text-align: center;
    z-index: 10;
}
.img{
    display: block;
    height: 100%;
    max-width: 100%
}

.Carousel{
background-color: black;
}