/* Header Style */
.header {
    background-color: #ffffff;
    height: 20vh;
    color: #000000;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .header {
      height: 20vh;
      font-size: 1rem;
    }
  }
  

  .headerTitle {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
    
  }
  
  
  @media screen and (min-width: 768px) {
    .headerAvatar {
      width: 14rem;
      height: 14rem;
    }
  
    .headerTitle {
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 200;
    }
  
  }