 /* nav bar */
 .navBar {
   display: none;
   flex-direction: row;
   text-align: center;
   justify-content: center;
   width: 100%;
   height: 100px;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
   background-color: rgb(255, 255, 255);
   opacity: 0.6;
 }
 
 .navItem {
  font-size: 40px;
  padding: 1.5% 4% 1.5% 4%;
  /* width: 10%; */
  cursor: pointer;
  color: rgb(20, 20, 20);
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* background-color: aqua; */
  
}

.navItem:hover {
  opacity: 1;
  background-color: #c4a5f0;
  text-decoration: none;
  color: white;
}
 
 .navItemActive {
  composes: navItem;
  background-color: #c4a5f0;
  opacity: 1;
  text-decoration: none;
  color: white;
 }
 .dropdown{
  font-size: 40px;
  height: 70px;
  padding: 1.5% 4% 1.5% 4%;
  /* width: 10%; */
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color: rgb(196 165 240 0);
}
.dropdown:hover {
  background-color: #c4a5f0 !important;  
  text-decoration: none;
  color: white !important;
}
 .dropdownActive {
  composes: dropdown;
  background-color: #c4a5f0 !important;
  text-decoration: none;
  color: white !important;
  z-index: 8;
 }

 
 .drawer {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 500%;
}


@media (min-width: 1080px) {
  .navBar {
    display: flex;
  }
  .drawer {
    display: flex;
  }

  .dropdown{
    /* background-color: #c4a5f0; */
  }
  .dropdown:hover {
    color: #c4a5f0;
  }
  
}
@media screen and (min-width: 550px){
  .navItem{
    font-size: 40px;

  }
  .dropdown{
    font-size: 40px;
    height: 100px;
  }
}
@media screen and (min-width: 1080px){
  .navItem{
    /* background-color: #c4a5f0; */
    font-size: 5px;
  }
  .dropdown{
    /* background-color: #c4a5f0; */
    font-size: 5px;
  }
}
