 /* nav bar */
 .navBar {
   display: none;
   flex-direction: row;
   text-align: center;
   justify-content: center;
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
   background-color: rgb(255, 255, 255);
   opacity: 0.6;
 }
 
 .navItem {
  font-size: 1rem;
  padding: 1rem 4rem 1rem 4rem;

  /* width: 10%; */
  cursor: pointer;
  color: rgb(20, 20, 20);
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navItem:hover {
  opacity: 1;
  background-color: #c4a5f0;
  text-decoration: none;
  color: white;
}
 
 .navItemActive {
  composes: navItem;
  background-color: #c4a5f0;
  opacity: 1;
  text-decoration: none;
 }

 .drawer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }
  .drawer {
    display: flex;
  }

  .navItem {
    color: rgba(0, 0, 0, 0.671);
    font-size: 1rem;
    margin-bottom: 2rm;
    margin-left: 2rm;
    text-align: left;
  }

}