.btn {
   margin-top: 15px;
   height: auto;
   font-size: 1.2rem;
   padding: 0.5rem 20%;
   font-weight: 300;
   background: #c4a5f0;
   border-radius: 50px;
   border: none;
}
.btn:hover{
   background: #fd93dd;
   border: none;
}

.image {
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 0.5rem;
   padding-bottom: 0.3rem;
}

.wordLayout {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 800;
   font-size: 1rem;
   line-height: 30px;
   /* identical to box height */
   text-align: center;
   color: #FFFFFF;
}

.myNotification{
   background: rgba(255, 255, 255, 0.676);;
   border: 3px solid #e6c7dd;
   font-family: 'Inter';
}
@media (max-width:992px){
   .wordLayout {
      font-size: 2rem;
      line-height: 30px;
   }
   .btn{
      padding: 1rem 15%;
      letter-spacing: 0.115em;
   }
}
