/* Image Style */
.mainLayout{
    margin: 1% 8%;
}

.imageLayout {
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.item{
    min-height: 100vh;
}

.imageLayout h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    position: relative;
    margin-top: 1.5rem;
}
.imageStyle {
    width: 100%;
    display: block;
    /* position: absolute; */
}

